{% extends 'base.html' %}
    {% block content %}
        <h3 style="color: #232D4B; text-decoration: underline">Developers</h3>
        <li>Jaden Carroll</li>
        <li>Ratik Mathur</li>
        <li>Cooper Scher</li>
        <li>Sarah Rolfe</li>
        <hr style="border-top: 3px dotted #232D4B;">
		
        <h3 style="color: #232D4B; text-decoration: underline">Info about A-8 Lou's List</h3>
        <li>First commit on October 2nd</li>
        <li>Users can search for classes using designated filters</li>
        <li>Users can find info about their specific classes</li>
        <li>Users can login to the site with their Google account</li>
        <hr style="border-top: 3px dotted #232D4B;">

        <h3 style="color: #232D4B; text-decoration: underline">Once logged in:</h3>
        <li>Users can create friend requests to other users on the platform</li>
        <li>Courses can be added to their shopping cart</li>
        <li>Courses can be removed from their shopping cart</li>
        <li>Having a cart is a prerequisite for making a schedule</li>
        <li>After searching for classes, click "More info" to add the class to your cart</li>
        <li>You can view your friends' schedules from the "Profile" tab</li>
        <br>
    {% endblock content %}
