{% extends 'base.html' %}

{% load socialaccount %}

{% block content %}

{% if user.is_authenticated %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p style="color:blue;"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Shopping Cart</h2>
    
    <main>
        <div class= "container">
            <div class="table-responsive text-nowrap">
        <h3>
            <strong>Your Classes</strong>
        </h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Name</th>
                <th scope="col">Units</th>
                <th scope="col">Instructor</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for cart_item in object.courses.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <th><a href="{% url 'cart:course_description' pk=cart_item.course.id %}">{{cart_item.course.subject}}: {{cart_item.course.catalog_number}}</a></th>
                <th>{{cart_item.course.units}}</th>
                <th><a href="mailto:{{cart_item.course.instructor_email}}">{{cart_item.course.instructor_name}}</a></th>
                <th>
                    <a href="{{cart_item.course.get_remove_from_cart_url}}" class="cart_button" >Remove from cart
                    </a>
    
                </th>
            </tr>
    
            {% empty %}
            <tr>
                <td colspan="5">No classes in your cart</td>
            </tr>
    
             <tr>
                <td colspan="5">
                    <a href="/" class="btn btn-primary float-right">Go Back</a>
                </td>
            </tr>
    
            {% endfor %}
    
            {% if object.get_total_units %}
            <tr>
                <td colspan="4"><b>Total Order Price</b></td>
                <td>${{ object.get_total_units }}</td>
            </tr>
             <tr>
                <td colspan="5">
                    <a href="/" class="btn btn-primary float-right">Go Back</a>
                </td>
            </tr>
            
            {% endif %}
            
            </tbody>
        </table>    
        <a href="{{object.get_create_schedule_url}}" class="button" >Create Schedule</a>
    
            </div>
        </div>
    </main>
{% else %}
    
    <p>Please login in order to utilize the shopping cart feature.</p>
    <form action="..">
        <input type="submit" value="Go back to Home Page" />
    </form>
{% endif %}

{% endblock content %}
