{% extends 'base.html' %}
	
{% block content %}
    {% for course in object_list %}
        <hr>
        <font size="+2">{{course.subject}}: {{course.catalog_number}}</font> <br>
        <font size="+1">{{course.description}} </font> <br>
        {{course.units}} Credits <br>

        <div align="center">
            <div class="btn-group-vertical">
                <form method="POST">
                    {% csrf_token %}
                    <div class="col-md-12 mb-1">
                        <p style="display:inline"> Instructor: {{course.instructor_name}} &nbsp&nbsp&nbsp Spots Available: {{course.enrollment_available}} &nbsp&nbsp&nbsp Day(s): {{course.days}} &nbsp&nbsp&nbsp Time: {{course.start_time}} - {{course.end_time}} &nbsp&nbsp&nbsp Type: {{course.component}}</p>            
                    </div>
                </form>
            </div>
        </div>

        <br>
        <a href="{% url 'cart:course_description' pk=course.id %}"><u><font size="+1">More info</font></u></a>
    {% endfor %}
    <br>

{% endblock content %}
