{% extends 'base.html' %}

{% block content %}
	<div class="center">

		{% if request_method == 'POST' %}
			<p style="color:blue;">{{ top_text }}</p>
		{% endif %}

		<h1>Discover who is using our platform:</h1>
		<form action="{% url 'friends:search_results' %}" method="get">
			<input name="q" type="text" placeholder="enter a username">
		</form>
		
	</div>

	<br>
	<br>

	<div class="center">
		<h2>Your friends:</h2>
		{% for user in friends %}
			<font size="+1" value="{{friend_name}}">{{user.username | capfirst}}</font><br>
			<font >{{user.email}} </font> <br>
			<form action="{% url 'friends:friendsHome' %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Remove Friend..." />
				<input type="hidden" name="src" value="remove" />
				<input type="hidden" name="receiver" value={{user}} />
			</form>
			<br>
		{% empty %}
			<font size="+2">It's time to reach out to people!</font>
		{% endfor %}
	</div>

	<br>
	<br>

	<div class="center">
		<h2>Pending requests:</h2>
		{% for user in received %}
			<font size="+1">{{user.username | capfirst}}</font> <br>
			<font >{{user.email}} </font> <br>
			<form action="{% url 'friends:friendsHome' %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Add as Friend" />
				<input type="hidden" name="src" value="accept" />
				<input type="hidden" name="receiver" value={{user}} />
			</form>
			<form action="{% url 'friends:friendsHome' %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Reject Friend Request" />
				<input type="hidden" name="src" value="reject" />
				<input type="hidden" name="receiver" value={{user}} />
			</form>
			<br>
		{% empty %}
			<font size="+2">You have not been reached out to...</font>
		{% endfor %}
	</div>

	<br>
	<br>

	<div class="center">
		<h2>Sent requests:</h2>
		{% for user in sent %}
			<font size="+1">{{user.username | capfirst}}</font> <br>
			<font >{{user.email}} </font> <br>
			<form action="{% url 'friends:friendsHome' %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Cancel Request" />
				<input type="hidden" name="src" value="cancel" />
				<input type="hidden" name="receiver" value={{user}} />
			</form>
			<br>
		{% empty %}
			<font size="+2">You haven't reached out to anyone...</font>
		{% endfor %}
	</div>
{% endblock %}
