{% extends 'base.html' %}

{% load socialaccount %}

{% block content %}

{% if user.is_authenticated %}
    <h2>{{schedule.user.username | capfirst}}'s Schedule:</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <p style="color:blue;"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</>
            {% endfor %}
        </ul>
    {% endif %}
    <main>
        <div class= "container">
            <div class="table-responsive text-nowrap">
        <h3>
            <strong>Courses:</strong>
        </h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Units</th>
                <th scope="col">Instructor</th>
                <th scope="col">Days</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            {% for course in schedule.courses.all %}
            <tr>
                <th><a href="{% url 'cart:course_description' pk=course.id %}">{{course.subject}}: {{course.catalog_number}}</a></th>
                <th>{{course.units}}</th>
                <th><a href="mailto:{{course.course.instructor_email}}">{{course.instructor_name}}</a></th>
                <th>{{course.days}}</th>
                <th>{{course.start_time}} - {{course.end_time}}</th>
            </tr>
    
            {% empty %}
            <tr>
                <td colspan="5">No classes in your cart</td>
            </tr>
    
             <tr>
                <td colspan="5">
                    <a href="/" class="btn btn-primary float-right">Go Back</a>
                </td>
            </tr>
    
            {% endfor %}
    
            
            
            </tbody>
        </table>
                <div class= "container">
                    {% with comments.count as total_comments %}
                    <h3>
                        <strong>
                            {{ total_comments }} comment{{ total_comments|pluralize}}
                        </strong>
                    </h3>
                    {% endwith %}
                    {% for comment in comments %}
                    Comment {{forloop.counter}} by {{comment.name}} on {{comment.pub_date}}
                    {{comment.content|linebreaks }}
                    {% empty %}
                    <p> There are no comments for this schedule.</p>
                    {% endfor %}
                    <h3><strong>Add a new comment:</strong></h3>
                    <form id="myForm" method="post">
                        {% csrf_token %}
                        {% for field in comment_form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                                <br><br>
                            </div>
                            <br>
                        {% endfor %}
                        
                        

                        <button type="submit" class="button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% else %}
    
    <p>Please login in order to utilize the schedule feature.</p>
    <form action="..">
        <input type="submit" value="Go back to Home Page" />
    </form>
{% endif %}

{% endblock content %}
